body {
    font-family: 'givonic', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    padding: 50px 35px;
}

ul{
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h1{
    font-family: 'mustasurma', sans-serif;
    font-size: 50px;
    color: rgb(165, 3, 3);
    overflow: hidden;
}

h3{
    font-family: 'punkfont', sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
}

.container {
    max-width: 100%;
    margin: auto;
    background: black;
    overflow: hidden;
    border: 1px solid rgb(165, 3, 3);
    box-shadow:  0 0 15px 15px rgb(151, 3, 3);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  black;
    padding: 6px 10px;
    color: rgb(165, 3, 3);
    font-weight: bold;
}

.top-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color:rgba(0, 0, 0, 0.5);
}

.main-content {
    display: flex;
    padding: 10px;
}

.tabs {
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.tabs a, .tabs input {
    padding: 3px;
}

.sidebar {
    width: 300px;
    padding: 10px;
    background: black;
    text-align: center;
    align-items: center;
    color: #dbdbdb;
    border: 5px solid rgb(165, 3, 3);
    font-size: 18px;
}

.engagement {
    flex: 2;
    padding: 20px;
    color: #dbdbdb;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

footer {
    text-align: center;
    background: black;
    padding: 4px 15px;
    color: rgb(165, 3, 3);
    font-weight: bold;
    border-top: 1px solid  rgb(165, 3, 3);
}

footer a {
    color: rgb(165, 3, 3);
    margin: 0 5px;
    text-decoration: none;
}

.option-btn{
    margin-top: -40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'timesp', sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(231, 14, 14), rgb(165, 3, 3));
    transform: rotate(5deg);
    box-shadow: 5px 10px #dbdbdb;
    transition-duration: 0.2s;
}

.option-btn:hover{
    background: linear-gradient(to bottom, rgb(165, 3, 3), black);
    color: #dbdbdb;
    transform: rotate(0);
    box-shadow: none;
}

.main, .button {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'timesp', sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(231, 14, 14), rgb(165, 3, 3));
    box-shadow: 5px 10px #dbdbdb;
    transition-duration: 0.2s;
    transform: skewX(20deg);
}

.main:hover, .button:hover {
    background: linear-gradient(to bottom, rgb(165, 3, 3), black);
    color: #dbdbdb;
    transform: skewX(0);
    box-shadow: none;
}

.window-content {
    padding: 10px;
}


