body {
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
  max-width: 800px;
  position: relative;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 9px 14px 6px rgba(165,3,3,1),
0px 7px 13px -3px rgba(165,3,3,0.3),
0px -3px 0px 0px rgba(165,3,3,0.2) inset;
}

.wrapper i {
  background: rgb(165, 3, 3);
  color: black;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 42px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.wrapper i:first-child {
  left: 10px;
}

.wrapper i:last-child {
  right: 10px;
}

.wrapper i:hover{
  background: linear-gradient(to bottom, rgb(165, 3, 3), black);
  color: #dbdbdb;
  box-shadow: none;
}

.wrapper .carrusel {
  display: flex;
  transition: transform 0.3s ease-in-out; 
  white-space: nowrap;
}

.carrusel img {
  height: 600px;
  width: 800px;  
  object-fit: cover;
  flex-shrink: 0;
}

.txt {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.txt img{
  height: 433px;
  width: 399px;
}

.pie{
    margin-top: 10px;
    width: 400px;
    height: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.caja {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; 
  gap: 10px;
}

@font-face {
  font-family: 'timesp';
  src: url('../fonts/font1.ttf');
}

@font-face {
  font-family: 'mustasurma';
  src: url('../fonts/vtks.ttf');
}

@font-face {
  font-family: 'givonic';
  src: url('../fonts/Givonic/Givonic-Regular.otf');
}

@font-face {
  font-family: 'punkfont';
  src: url('../fonts/font2.otf');
}
