body {
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.mangas{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 20px;
}

.txt {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.txt img{
  height: 433px;
  width: 399px;
}

.pie{
    margin-top: 10px;
    width: 400px;
    height: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.caja {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; 
  gap: 10px;
}

@font-face {
  font-family: 'timesp';
  src: url('../fonts/font1.ttf');
}

@font-face {
  font-family: 'mustasurma';
  src: url('../fonts/vtks.ttf');
}

@font-face {
  font-family: 'givonic';
  src: url('../fonts/Givonic/Givonic-Regular.otf');
}

@font-face {
  font-family: 'punkfont';
  src: url('../fonts/font2.otf');
}
